mixin charmancer-navigation(active) 
    .cm-nav
        each nav in cm-pages
            - const class_define = (nav === active) ? 'cm-nav__item--active' : '';
            button.cm-nav__item(class=class_define, type="back", value=nav)=nav

mixin charmancer-pagecontrol(left_button, middle_button, right_button) 
    .cm-pagecontrol
        if (typeof left_button !== 'undefined' && left_button.text)   
            button.cm-pagecontrol__left(data-i18n=left_button.text, type="back", value=left_button.action)=left_button.text  
        if (typeof middle_button !== 'undefined' && middle_button.text)       
            button.cm-pagecontrol__middle(data-i18n=middle_button.text, type=middle_button.action)=middle_button.text     
        if (typeof right_button !== 'undefined' && right_button.action === "finish") 
            button.cm-pagecontrol__right(data-i18n=right_button.text, type="finish", value="newcharacter")=right_button.text
        else if (typeof right_button !== 'undefined' && right_button.text)  
            button.cm-pagecontrol__right(data-i18n=right_button.text, type="back", value=right_button.action)=right_button.text

charmancer.sheet-charmancer-intro
    .sheet-cm-wrapper
        +charmancer-navigation("intro")
        .ms-t__topbar
        .ms-cm-container
            .ms-cm-panel--full
                img.ms-cm-logo(src="https://s3.amazonaws.com/files.d20.io/images/145353993/itv_F4exdWuwHavdksYfCQ/max.png?1592850121", data-i18n-title="Mothership Logo")
                p.ms-cm-welcometext(data-i18n="charactermancer welcome")
        +charmancer-pagecontrol({action: "none"},{action: "cancel", text: "cancel"},{action: "stats", text: "next"})

charmancer.sheet-repeating-topbar
    .ms-cm-stats

        each stat in stats 
            .ms-cm-mainstat
                .ms-cm-mainstat__title(data-i18n=stat.attr)
                .ms-cm-mainstat__value(class=`t__${stat.attr}`)
                input(name=`comp_${stat.attr}`, type="hidden")
                input(name=`comp_${stat.attr}_final`, type="hidden")

        .ms-cm-altstat
            .ms-cm-mainstat__title(data-i18n="health")
            .ms-cm-mainstat__value(class=`t__health`)
                input(name=`comp_health`, type="hidden")

        .ms-cm-altstat
            .ms-cm-mainstat__title(data-i18n="stress")
            .ms-cm-mainstat__value(class=`t__stress`)
                input(name=`comp_stress`, type="hidden")

        .ms-cm-altstat
            .ms-cm-mainstat__title(data-i18n="resolve")
            .ms-cm-mainstat__value(class=`t__resolve`)
                input(name=`comp_resolve`, type="hidden")
        
    .ms-cm-saves

        each save in saves
            .ms-cm-mainsave 
                .ms-cm-mainsave__titlee(data-i18n=save.name)
                .ms-cm-mainsave__value(class=`t__${save.name}`)
