mixin tags(array)
    each tag in array
        | {{##{tag}}}
    if block
        block
    each tag in array.reverse()
        | {{/#{tag}}}
        
rolltemplate.sheet-rolltemplate-ms
    .sheet-ms-container
        | {{#name}}
        h1 {{name}} 
        | {{/name}}
        | {{#character_name}}
        h2 {{character_name}} 
        | {{/character_name}}
        | {{#roll}}
        .sheet-ms-roll
            .sheet-ms-roll__roll {{roll}}
            |  {{#rollGreater() roll2 0}}
            .sheet-ms-roll__roll2 {{roll2}}
            |  {{/rollGreater() roll2 0}}
        | {{#target}}
        .sheet-ms-target
            .sheet-ms-target__label(data-i18n="target:")
            .sheet-ms-target__value {{target}}
        | {{/target}}
        | {{/roll}}
        | {{#damage}}
        .sheet-ms-damage
            .sheet-ms-damage__label(data-i18n="damage:")
            .sheet-ms-damage__value {{damage}}
        | {{/damage}}
        | {{#notes}}
        .sheet-ms-notes {{notes}}
        | {{/notes}}

rolltemplate.sheet-rolltemplate-ms-cm
    .sheet-ms-container
        | {{#title}}
        h1 {{title}} 
        | {{/title}}
        each stat in ["strength", "speed", "intellect", "dexterity"] 
            +tags([stat])
                h2=stat 
                .sheet-ms-roll
                    .sheet-ms-roll__roll {{#{stat}}}
        +tags(["credits"])
            h2(data-i18n="starting credits")
            .sheet-ms-roll
                .sheet-ms-roll__credits {{credits}}
        +tags(["roll"])
            - let i = 0;
            while i <= 100
                +tags([`rollTotal() roll ${i}`])
                    h2 {{opt#{i}}}
                    - i++